body {

    margin: 0px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-sizing: border-box;
    display: flex;
    flex-direction:column;
    flex: auto;
    justify-content: center;
    align-items: center;

}

h2 {
    color: #176d6d;
    font-size: 2em;
    
}

p {
    font-size: 1.2em;
    color: rgb(42, 48, 48);
   
}

hr {
    border: none;
    border-top: 10px dotted #1f4e5f;
    width: 10%;
}



.top_div {
    width: auto;
    margin: 0;
    background: #aacfd0;
}



.top_h1 {
    color:#1f4e5f;
    margin: 0 auto 0 auto;
    font-size: 50px;
    font-family: 'Kalam', cursive;
}

.cloud.one {
    width: 5%;
    position: relative;
    left: 100px;
    animation-duration: 20s;
   
}

.cloud.two {
    width: 5%;
    position: relative;
    top: 150px;
    right: 250px;
    animation-duration: 20s;
}

.ship {
    width: 15%;
    padding-bottom: 20px;

}

.intro_div {
    width: 65%;
    display: flex;
    flex-flow: row;
    justify-content:space-between;
    padding-bottom: 5%;
    

}

.avatar {
    
    width: 8vw;
    height: 8vw;
    border-radius: 100%;
    margin: auto 0;
    
}


.intro_h2 {
   
    text-align: left;

}

.intro_text {
    text-align:justify;
    width: 80%;
    

}

.intro_text_div {
    margin-left: 1em;
}

.education_div {
    width: 60%;
    display: flex;
    flex-flow: row;
    padding-bottom: 5%;
   
}

.education_img {
   
    width: 6vw;
    height: 6vw;
    margin: auto 0;
}

.education_text_div {
    margin-left: 1em;
}

.education_text {
    text-align:justify;
    width: 80%;
}


.education_h2 {
    
    text-align: left;
}

.skill_div {
    width: 60%;
    display: flex;
    flex-flow: row;
    padding-bottom: 5%;
}

.skill_img {
    width: 6vw;
    height: 6vw;
    margin: auto 0;
}

.skills_text_div {
    margin-left: 1em;
}

.skill_text {
    text-align:justify;
   
}

.skill_h2 {
    text-align: left;
}

.work_exp_div {
    width: 60%;
    display: flex;
    flex-flow: row;
    padding-bottom: 5%;
}

.work_exp_img {
    width: 6vw;
    height: 6vw;
    margin: auto 0;
}

.work_exp_text_div {
    margin-left: 1em;
}

.work_exp_text {
   
    text-align:justify;
    
}

.work_exp_h2 {
    text-align: left;
}

.footer_div {
    width: 100%;
    background: #1f4e5f;
    padding-top: 40px;
    padding-bottom: 20px;
    
}

.contact_div {
    padding-top: 40px;
    padding-bottom: 40px;
}

.BUTTON_ULZ {
    margin-top: 10px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    color: #FFFFFF;
    font-family: Arial;
    font-size: 20px;
    font-weight: 400;
    padding: 9px;
    background-color: #AACFD0;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
 }
 
 .BUTTON_ULZ:hover {
    background: #1F4E5F;
    border: solid #1F4E5F 1px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-decoration: none;
 }

 .contact_h1 {
    color: #176d6d;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 }

.tele_logo {
    width: 25px;
}



